	
/* //////// Põhiala //////// */
.vastusteAla { position: relative; margin: 70px 100px; }

.teade {
  width: 40rem;
  border-radius: 8px; padding: 4px;
  border-width: 1px; border-style: solid;
 } 
.infoteade {
  border-color: Aquamarine;
  background-color: Azure;
}
.veateade {
  border-color: Red;
  background-color: Bisque;
}
	
